*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  margin: auto;
  width: 100vw;
  min-height: 100vh;
  background-size: 100%;
  background: #181515;
  overflow: hidden;
}


.box{
  width: 70%;
  height: 90%;
  background-color: #242424;
  margin: 0px auto;
  opacity: 0.7;
  display: flex;

}
.box2{
  width: 70%;
  height: 100%;
  background-color: #181515;
  margin: 0px auto;
  display: flex;


}
.photo{
  width: 100%;
  height: 600px;

}
.left{
  width: 50%;
  height: 100%;
  /*border: 3px solid coral;*/
  display:  flex;
  flex-wrap: wrap;
  background-color: black;

}
.information{
  width: 50%;
  height: 100%;
  /*background-color: #686868;*/
  /*opacity: 0.2;*/


}
.aboutMe{
  margin-top: 20px;
  width: 100%;
  height: 200px;
  /*border: 4px solid red;*/
}
.component{
  width: 100%;
  height: 400px;
  /*border: 4px solid red;*/
}
ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-family: "Brush Script MT";
  font-size: 32px;
  /*font-weight: bold;*/
  color: white;
  box-shadow: red;

}
li {
  cursor: pointer;
  /*border-bottom: 3px solid red;*/
  /*border-radius: 70%;*/
  box-shadow: red;
  outline: none;
}
li:active{
  color: green;
}
.contacts{
  width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-content: center;

}


.insta{
  width: 33%;
  height: 100%;
  /*border: 2px solid red;*/
}
p{
  font-family: "Brush Script MT";
  font-size: 34px;
  /*font-weight: bold;*/
  color: darkgray;
}
h4{
  color: green;
  font-family: "Brush Script MT";
  font-size: 30px;
}
h5{
  color: white;
  font-family: "Brush Script MT";
  font-size: 28px;
}
.name{
  width: 100%;
  height: 50px;
  background-color: red;
}
h1{
  color: green;
  font-family: "Brush Script MT";
  font-weight: bold;
  font-size: 48px;

}
h2{
  color: darkgray;
  font-family: "Brush Script MT";
  font-weight: bold;
  font-size: 34px;
}
h6{
  color: darkgray;
  font-size: 24px;
  font-family: "Brush Script MT";
}

@media screen and (max-width: 1500px){
h2{
  font-size:24px ;
}
}
@media screen and (max-width: 1200px){
  .box{
    width: 60%;
  }
  .box2{
    width: 100%;
  }
  ul{
    font-size: 26px;
  }
  h2{
    font-size: 20px;
  }
  h1{
    font-size: 40px;
  }

}
@media screen and (max-width: 600px){
  .box{
    width: 60%;
  }
  .box2{
    width: 90%;
  }
  ul{
    font-size: 16px;
  }
 h2{
   font-size: 12px;
 }
 h1{
   font-size: 24px;
 }
 h6{
   font-size: 14px;
 }
 h4{
   font-size: 18px;
 }


}


