<div class="container">
  <div class="block1">
    <div class="hello">          
      <h3>HELLO<br> <br> My name is Kristina Dutchak <br><p>23 year / Lviv / developer <a href="../assets/Дутчак Христина резюме.pdf" download="rez-конвертирован"><img src="../assets/download.png" alt="" width="25px" height="25px"></a></p> </h3>  
      
     
    </div>
    <div class="arrow-down">
      <span></span>
      <span></span>
      <span></span>
  </div>  
  </div>
  <div class="block2">
        <div class="header">
       <ul>
         <li routerLink="/skills">Skills</li>
         <li routerLink="/education">Education</li>
         <li routerLink="/project">Project</li>
       </ul>
       </div>
   <div class="information">
      <router-outlet></router-outlet>
   </div>
  
  </div>
   <div id="footer">
     <div class="contacts"><h3>my contact</h3></div>
     <div class="contacts_url">
    <a href="https://mail.google.com/mail/u/0/?pli=1#inbox"><img src="../assets/gmail.png" alt="gmail" width="100px" height="100px"></a>
    <a href="https://www.instagram.com/kris_tina_dutchak/?hl=ru"><img src="../assets/depositphotos_74378469-stock-illustration-original-instagram-icon.jpg" alt="instagram" width="100px" height="100px"></a>
    <a href="https://mail.google.com/mail/u/0/?pli=1#inbox"><img src="../assets/gmail.png" alt="gmail" width="100px" height="100px"></a>
    <a href="https://www.linkedin.com/in/kristina-dutchak-49b434210/"><img src="../assets/Без названия.png" alt="linkedin" width="100px" height="100px"></a>
     </div>
   
   </div>
</div>
