h2{
  color: rgb(0, 0, 0);
  font-size: 42px;
  font-family: "Brush Script MT";
  font-weight: bold;
}

.education{
  display: flex;
  justify-content: center;
}
.text{
  width: 700px;
  height: 300px;
  display: flex;
  flex-direction: column;
 
}
@media screen and (max-width: 600px){
  h2{
    font-size:18px ;
  }}
