
<div class="skills">
  <div class="box1">
    <img src="../assets/angular-logo.jpg" alt="angular" width="200px" height="200px">
    <img src="assets/unnamed.jpg" alt="html" width="200px" height="200px">
    <img src="assets/js.png" alt="" width="200px" height="200px">
    <img src="../../../assets/avocode.jpg" alt="" width="200px" height="200px">
    <img src="../../../assets/photoshop.png" alt="">
  </div>

  <div class="box2">
  <ul>
    <li>creative and logical thinking</li>
    <li>focus on results</li>
    <li>Ability to ask questions and use digital resources</li>
    <li>Teamwork</li>
    <li>ability to listen and give feedback</li>
  </ul>

</div>
</div>
